@media screen and (min-width: 320px) {
  .cust-list {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }

  .mob-menu-btn {
    margin-left: 250px;
  }

  .section-hero {
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg-tab.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/dark-bg-tab-2x.jpg);
    }
  }
  .desc-item {
    gap: 72px;
  }
  .footer-logo {
    margin-left: 156px;
  }
  .footer-p {
    text-align: center;
  }
  .footer-soc-container {
    margin-top: 112px;
  }
  .foot-input-btn {
    margin-top: 16px;
    margin-left: 131px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .header {
    padding: 12px 16px 12px 16px;
    /* padding-left: 16px;
    padding-right: 16px; */
  }
  .address-link {
    font-size: 12px;
    line-height: calc(14 / 12);

    letter-spacing: 0.04em;

    color: var(--text);
  }
  .mob-menu-btn {
    display: none;
  }
  .mob-menu {
    display: none;
  }
  /* .header {
    padding: 6px;
  } */
  .header-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;
    display: flex;
    margin-left: 120px;
    gap: 40px;
  }
  .header-item {
  }
  .header-link {
    color: var(--logo-color);
    position: relative;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    top: 43px;
    position: absolute;
    background-color: var(--color-link);
    display: block;
  }

  .current {
    color: var(--color-link);
  }

  .address-list {
  }

  .address-link:is(:hover, :focus) {
    color: var(--color-link);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link:is(:hover, :focus) {
    color: var(--color-link);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address {
    font-style: normal;
    line-height: 1.5;
    color: var(--text);
  }
  .header-address {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    flex-direction: row-reverse;
    justify-content: space-between;
    /* padding-right: 16px; */
    /* margin-left: 120px; */
    /* row-gap: 12px; */

    /* gap: 40px;
    margin-right: 156px; */
  }
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }
  .hero-title {
    font-size: 56px;
    margin-bottom: 36px;
  }

  .cust-list {
    margin-left: 108px;
    width: 552px;
    row-gap: 72px;
  }
  .desc-item {
    gap: 24px;
    row-gap: 72px;
  }
  .description-list {
    width: 356px;
  }

  .description-titel {
    text-align: left;
  }
  .footer-logo {
    margin-left: 108px;
  }
  .footer-p-soc {
    display: flex;
    flex-wrap: wrap;
  }
  .footer-p {
    margin-left: 108px;
    text-align: left;
  }
  .footer-soc-container {
    margin-top: 17px;
    margin-left: 24px;
  }
  .foot-form-container {
    margin-top: 95px;
  }
  .footer-input {
    width: 238px;
    /* width: 264px; */
    height: 40px;
    margin-left: 108px;
  }
  .foot-input-btn {
    margin-top: 0;
    margin-left: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    /* padding-bottom: 188px; */
    width: 1440px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .header {
    box-sizing: border-box;
    border-bottom: 1px solid var(--accent);
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .header-logo {
    margin-left: 156px;
  }
  .header-address {
    display: flex;
    gap: 40px;
    margin-right: 156px;
  }
  .address-link {
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;

    color: var(--text);
  }
  .hero-title {
    padding-top: 188px;
  }
  .hero-container {
    /* padding-bottom: 188px; */
  }
  .cust-list {
    margin-left: auto;
    width: 100%;
    flex-wrap: nowrap;
  }
  .section-hero {
    padding-bottom: 188px;
  }
  /* ------------Sectiom 2--------------- */
  .desc-container {
    margin-left: 156px;
  }
  .desc-item {
    flex-wrap: nowrap;
  }
  .description-titel {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 8px;
  }
  .desc-photo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: none; */
    width: 264px;
    height: 112px;
    background-color: var(--light);
    border-radius: 4px;

    margin-bottom: 8px;
  }
  .desc-svg {
    display: flex;
    width: 64px;
    height: 64px;
    border-radius: 4px;
  }
  .description-list {
    width: 264px;
    height: 112px;
  }
  .photo {
    display: flex;
    padding-bottom: 120px;
  }
  .photo-titel {
    font-size: 36px;
    line-height: 1.11;

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: var(--logo-color);
    margin-bottom: 72px;
  }
  /* --------Section 3---------- */
  .photo-list {
    display: flex;
    gap: 24px;
    justify-content: center;
  }

  /* ----Footer---- */
  .footer-container {
    padding-top: 101.5px;
    padding-bottom: 100px;
    padding-left: 60px;
    /* padding-left: 156px; */
  }
  .footer-soc-container {
    margin-left: 120px;
    /* padding-top: 17px; */
  }
  .footer-p-soc {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .foot-form-container {
    margin-top: -8px;
    padding-top: 0;
  }
}
