.container {
  width: 1453px;
}
.header {
  box-sizing: border-box;
  border-bottom: 1px solid var(--accent);
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  display: flex;
  margin-left: 120px;
  gap: 40px;
}
.header-link {
  color: var(--logo-color);
  position: relative;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  top: 43px;
  position: absolute;
  background-color: var(--color-link);
  display: block;
}

.current {
  color: var(--color-link);
}
.address-link:is(:hover, :focus) {
  color: var(--color-link);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:is(:hover, :focus) {
  color: var(--color-link);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address {
  font-style: normal;
  line-height: 1.5;
  color: var(--text);
}
.header-address {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.header-logo {
  margin-left: 156px;
}
.header-address {
  display: flex;
  gap: 40px;
  margin-right: 156px;
}
.address-link {
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: var(--text);
}

/* -----Footer----- */
.footer {
  /* width: 1490px; */
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 101.5px;
  padding-bottom: 100px;
  padding-left: 60px;
  /* padding-left: 156px; */
}
.footer-logo {
  margin-left: 108px;
}
.footer-soc-container {
  margin-left: 120px;
}
.foot-soc-titel {
  margin-top: -55px;
  margin-bottom: 0;
  justify-content: left;
}
.foot-form-titel {
  margin-top: -55px;
  justify-content: left;
  padding-left: 107px;
}
.footer-soc-list {
  padding-top: 17px;
  margin-bottom: 0;
}
.footer-p {
  display: flex;
  margin-top: 17px;
  margin-left: 108px;
  text-align: left;
}
.footer-p-soc {
  display: flex;
  align-items: center;
}
.foot-form-cont-h {
}
.foot-form-container {
  /* margin-top: -14px; */
  padding-top: 0;
}
.footer-input {
  width: 238px;
  /* width: 264px; */
  height: 40px;
  margin-left: 108px;
}
.foot-input-btn {
  margin-top: 0;
  margin-left: 24px;
}
